.App {
  text-align: center;
  font-size: 25px;
}

.table {
  margin: 20px 0;

}

.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}
.table-row:hover {
  background: #3333;
  color: white;
  transition: .9s all ease;
}
