.page {
  margin: 20px;
}

.interactions {
  text-align: center;
}
.table {
  margin: 20px 0;

}

input {
  margin: 0 auto;
  display: block;
}

.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}
.table-row:hover {
  background: #3333;
  color: white;
  transition: .9s all ease;
}

